.app-header {
  display: flex;
  justify-content: space-between;
  margin-block-start: em(73px);
  img {
    width: em(176px);
    height: em(51.05px);
  }
  .anchor-links {
    a {
      margin-inline-end: em(60px);
      text-decoration: none;
      font-family: Raleway-Regular;
      font-size: em(16px);
      color: $clr7;

      &:last-child {
        margin-inline-end: 0;
      }
    }
  }
}
