@font-face {
  font-family: OpenSans-Regular;
  src: local(OpenSans-Regular), url('/src/assets/styles/assets/fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: Raleway-Regular;
  src: local(Raleway-Regular), url('/src/assets/styles/assets/fonts/Raleway-Regular.ttf');
}
